body {
    font-family: 'Montserrat', sans-serif;
  }

  .main-list {
    display: flex;
    align-items: flex-;
    gap: 8px;
    align-self: stretch;  
    list-style-type: none;
    margin: 32px 0 0 120px;
    max-width: 1181px;
  }
  
  .main-list__link {
    display: flex;
    border-radius: 24px;
    border: 1px solid #C1C5CD;
    padding: 6px 8px;
    gap: 4px;
    font-size: 13.8px;
    font-weight: 600;
    align-items: center;
    line-height: 20px;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    max-width: 588px;
    border: 1px solid black;
  }

  .upper-side__img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
  }

  .upper-side__item-on-img {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .upper-side__item_on-img {
    display: flex;
    margin: 8px 0 0 8px;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.70);
  }